---
import Layout from "../layouts/Layout.astro";
import { CreateAthleteForm } from "../screens/athletes/CreateAthleteForm";
---

<Layout title="usuarios">
  <div class="contentBody">
    <CreateAthleteForm client:load />
  </div>
</Layout>

<style>
  .contentBody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
</style>
