---
import { CreateAthleteForm } from "../screens/athletes/CreateAthleteForm";
---

  <div class="contentBody">
    <CreateAthleteForm client:load />
  </div>

<style>
  .contentBody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
</style>
