---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Evntos planny">
	<main>
		test
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>
