---
import Layout from "../layouts/Layout.astro";
---

<Layout title="usuarios">
  <a href="/createUser" class="createUser">Crear Deportista</a>
  <ul id="users-list"></ul>
  <button class="music">Agrega tu pista</button>
</Layout>

<script>
  import type { Athlete } from "../interfaces/athlete";
  import { AthleteService } from "../services/athlete";

  const usersList = document.getElementById("users-list");

  const athleteService = new AthleteService();
  const users: Athlete[] = await athleteService.getAllAthletes();

  users.forEach((user) => {
    console.log("🥑 ~ users.forEach ~ user:", user);
    const li = document.createElement("li");
    li.textContent = user.fullName;
    usersList?.appendChild(li);
  });
</script>

<style>
  .containerBody {
    box-shadow: 0 0 15px rgba(215, 33, 33, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: unset;
  }
  #users-list {
    box-sizing: border-box;
    width: 100%;
    border: solid #5b6dcd 10px;
    padding: 5px;
  }
  .music {
    padding: 10px;
    height: 30%;
    background-color: red;
  }
</style>
