---
import Layout from "../layouts/Layout.astro";
import { AthletesList } from "../screens/athletes/AthletesList";
---

<Layout title="Evento - deportistas">
  <div class="container_users">
    <a href="/createUser" class="createUser">Crear Deportista</a>
    <AthletesList client:only />
    <!-- <button class="delet">Eliminar deportista</button> -->
  </div>
</Layout>

<style>
  .container_users {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Button */
  .createUser {
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5%;
  }
  .delet {
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10%;
  }

  /* Responsive Design */
  @media (max-width: 500px) {
    #createUserForm {
      padding: 15px;
    }

    .createUser {
      font-size: 14px;
      padding: 10px;
    }
  }
</style>
