---
import Layout from "../layouts/Layout.astro";
---

<Layout title="usuarios">
  <a href="/createUser" class="createUser">Crear Deportista</a>
  <ul id="users-list"></ul>
  <button class="delet">Eliminar deportista</button>
</Layout>

<script>
  import type { Athlete } from "../interfaces/athlete";
  import { AthleteService } from "../services/athlete";

  const usersList = document.getElementById("users-list");

  const athleteService = new AthleteService();
  const users: Athlete[] = await athleteService.getAllAthletes();

  users.forEach((user) => {
    console.log("🥑 ~ users.forEach ~ user:", user);
    const li = document.createElement("li");
    li.textContent = user.fullName;
    usersList?.appendChild(li);
  });
</script>

<style>
  #users-list {
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 30%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    list-style-type: decimal;
  }

  /* Button */
  .createUser {
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10%;
  }
  .delet{
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10%;
  }

  /* Responsive Design */
  @media (max-width: 500px) {
    #createUserForm {
      padding: 15px;
    }

    .createUser {
      font-size: 14px;
      padding: 10px;
    }
  }
</style>
