---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <h1>PLANNY</h1>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="/events/my-events">mis eventos</a></li>
          <li><a href="/events/firstEvent">evento</a></li>
          <li><a href="/profileclient">Perfil</a></li> <!--Falta agregar la dirccion del perfil -->
          <li><a href="/users">deportistas</a></li>
          <li><a id="btn-logout">cerrar sesión</a></li>
        </ul>
      </nav>
      <!-- <button class="nav-toggle" aria-label="Abrir menú">
        <span class="hamburger"></span>
      </button> -->
    </header>
    <div class="contentBody">
      <slot />
    </div>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }

  .logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav ul li {
    margin-left: 1rem;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .nav a:hover {
    text-decoration: underline;
  }
  #btn-logout {
    color: #dddddd;
  }
  #btn-logout:hover {
    color: #da7070;
  }

  /* Estilos para el botón de menú */
  .nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .hamburger {
    width: 25px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: all 0.3s;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: all 0.3s;
  }

  .hamburger::before {
    top: -8px;
  }

  .hamburger::after {
    top: 8px;
  }
</style>

<script>
  import { getToken } from "../authentication/validateAuth";
  const token = await getToken();
  if (!token) {
    location.href = "/auth/login";
  }

  const btnLogout = document.getElementById("btn-logout");
  btnLogout?.addEventListener("click", async () => {
    localStorage.removeItem("user");
    location.href = "/auth/login";
  });
</script>
