<h1 class="title">Primer evento</h1>

<p class="innformationEvent">
    Ingresar la informacion del evento
</p>

<div class="select">
        <select name="text" id="text">
        <optgroup label="Nivel">
            <option value="documento">Nivel</option>
            <option value="documento">1.1</option>
            <option value="documento">2.1</option>
            <option value="documento">1</option>
            <option value="documento">2</option>
            <option value="documento">3</option>
            <option value="documento">4.2</option>
            <option value="documento">4</option>
            <option value="documento">5</option>
            <option value="documento">6</option>
            <option value="documento">7</option>
        </select>
    </div>

        
        <select name="text" id="text">
                <optgroup label="Divicion">
                <option value="documento">División</option>
                <option value="documento">Tiny</option>
                <option value="documento">Miny</option>
                <option value="documento">Youth</option>
                <option value="documento">Junior</option>
                <option value="documento">Open</option>
                <option value="documento">Senior</option>
            
            </select>

            <select name="text" id="text">
                <optgroup label="Sub-división">
                    <option value="documento">Sub-división</option>
                    <option value="documento">Unica</option>
                    <option value="documento">Femenino</option>
                    <option value="documento">Coed</option>
                    
                </select>
    </div>

  <style>
    *{
    box-sizing: border-box;
    margin: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

body{
    background-color: rgb(216, 202, 202);
}










.select1 .select2 .selec3{
    background-color: aqua;
}
  </style>
