---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Evento">
  <h1 class="title">V torneo abierto departamental de porrismo</h1>
  <div class="information">
    <section>
      <h3>Descripción</h3>
      <p>
        Torneo de porrismo con categorías Cheer All Stars, Cheer Colegial,
        Performance Cheer y Divisiones Especiales. Inscripción abierta hasta el
        28 de agosto. Para más información, contacta a la LIGA DE PORRISMO DE
        CUNDINAMARCA.
      </p>
    </section>

    <ul>
      <li><strong>Fecha:</strong> 01 de septiembre de 2024</li>
      <li><strong>Lugar:</strong> Mosquera, Nuevo Coliseo</li>
    </ul>

    <section>
      <h3>Categorías</h3>
      <ul>
        <li>Cheer All Stars</li>
        <li>Cheer Colegial</li>
        <li>Performance Cheer</li>
        <li>Divisiones Especiales</li>
      </ul>
    </section>

    <section>
      <h3>Valor de Inscripción</h3>
      <ul>
        <li>
          <h4>Cheer y Performance Cheer</h4>
          <p>Clubes afiliados a la Liga: $70.000 por deportista</p>
          <p>Clubes, colegios o equipos No Afiliados: $85.000 por deportista</p>
        </li>
        <li>
          <h4>Categorías Especiales y Crossovers:</h4>
          <p>Clubes afiliados a la Liga: $30.000 por deportista</p>
          <p>Clubes, colegios o equipos No Afiliados: $40.000 por deportista</p>
        </li>
      </ul>
    </section>

    <section>
      <h3>Proceso de Inscripción</h3>
      <ul>
        <li>Fecha límite para el pago: 28 de agosto de 2024</li>
        <li>
          El pago debe ser realizado por el presidente del club, entrenador,
          delegado del equipo y/o institución.
        </li>
        <li>
          Cuenta para el pago: Cuenta de ahorros #33700002768 del banco
          BANCOLOMBIA a nombre de la LIGA DE PORRISMO DE CUNDINAMARCA.
        </li>
      </ul>
    </section>

    <section>
      <h3>Notas Importantes</h3>
      <ul>
        <li>No se recibirá ningún pago después del 28 de agosto.</li>
        <li>
          La inscripción de los equipos que no hayan realizado el pago antes de
          la fecha límite será cancelada.
        </li>
      </ul>
    </section>
  </div>

  <!-- <div class="content">
    <div class="select">
      <select name="text" id="text">
        <optgroup label="Nivel">
          <option value="documento">Nivel</option>
          <option value="documento">1.1</option>
          <option value="documento">2.1</option>
          <option value="documento">1</option>
          <option value="documento">2</option>
          <option value="documento">3</option>
          <option value="documento">4.2</option>
          <option value="documento">4</option>
          <option value="documento">5</option>
          <option value="documento">6</option>
          <option value="documento">7</option>
        </optgroup>
      </select>

      <select name="text" id="text">
        <optgroup label="División">
          <option value="documento">División</option>
          <option value="documento">Tiny</option>
          <option value="documento">Miny</option>
          <option value="documento">Youth</option>
          <option value="documento">Junior</option>
          <option value="documento">Open</option>
          <option value="documento">Senior</option>
        </optgroup>
      </select>

      <select name="text" id="text">
        <optgroup label="Sub-división">
          <option value="documento">Sub-división</option>
          <option value="documento">Unica</option>
          <option value="documento">Femenino</option>
          <option value="documento">Coed</option>
        </optgroup>
      </select>
    </div>
    <div class="button">
      <button class="burtton">Resgistrarse</button>
    </div>
  </div>
  <div class="input">
    <input type="text" placeholder="Nombre del equipo" id="name" required />
    <span class="error-message" id="nameError"></span>
  </div> -->
</Layout>

<style>
  * {
    box-sizing: border-box;
    margin: 15px;
    padding: 5px;
  }

  body {
    background-color: rgb(201, 201, 201);
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0%;
  }
  .information {
    /* display: flex; */
    /* margin: 0% 50px;
    padding: 50px 50px;
    justify-content: center; */
  }
  .innformationEvent {
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px 15px;
  }
  .informationCompany {
    width: 260px;
    height: 340px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
  }
  .select {
    display: flex;
    margin-left: 100px;
    margin-top: 0%;
    justify-content: space-between;
    margin-top: -50px;
  }
  .button {
    margin-left: 300px;
    margin-right: 100px;
    margin-top: -50px;
  }
</style>
