---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mis eventos">
  <div class="content">
    <div class="input">
      <input type="text" placeholder="Nombre del equipo" id="name" required />
      <span class="error-message" id="nameError"></span>
    </div>
    <div class="select">
      <select name="Categoria" id="text">
        <option value="documento">Categoria</option>
          <option value="documento">Cheer equipos All Stars</option>
          <option value="documento">Cheer equipos Colegial</option>
          <option value="documento">Cheer equipos Universitario</option>
          <hr>
          <option value="documento">Performance grupos All Stars</option>
          <option value="documento">Performance grupos Colegial</option>
          <option value="documento">Performance grupos Universitario</option>
        </optgroup>
      </select>
      <select name="text" id="text">
        <optgroup label="Cheerleading">
          <option value="documento">Nivel</option>
          <option value="documento">1.1</option>
          <option value="documento">2.1</option>
          <option value="documento">1</option>
          <option value="documento">2</option>
          <option value="documento">3</option>
          <option value="documento">4.2</option>
          <option value="documento">4</option>
          <option value="documento">5</option>
          <option value="documento">6</option>
          <option value="documento">7</option>
      <optgroup label="Baile">
          <option value="documento">Pms</option>
          <option value="documento">Jazz</option>
          <option value="documento">Hip Hop</option>
        </optgroup>
      </select>

      <select name="text" id="text">
        <optgroup label="Divisi贸n">
          <option value="documento">Divisi贸n</option>
          <option value="documento">Tiny</option>
          <option value="documento">Miny</option>
          <option value="documento">Youth</option>
          <option value="documento">Junior</option>
          <option value="documento">Open</option>
          <option value="documento">Senior</option>
        </optgroup>
      </select>

      <select name="text" id="text">
        <optgroup label="Sub-divisi贸n">
          <option value="documento">Sub-divisi贸n</option>
          <option value="documento">Unica</option>
          <option value="documento">Femenino</option>
          <option value="documento">Coed</option>
        </optgroup>
      </select>
      <div class="button">
        <button class="burtton">Resgistrarse</button>
      </div>      
    </div>
  </div>
  
  
</Layout>

<style>
  * {
    box-sizing: border-box;
    margin: 15px;
    padding: 5px;
    background-color: antiquewhite;
  }

  body {
    background-color: rgb(216, 202, 202);
    
  }

  .input{
    align-items: center;
    display: flex;
    justify-content: center;
    
  }

  .content {
    margin-right: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  }
  
  .select {
    
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .select button{
    align-items: center;
    display: flex;
    justify-content: center;
  }
</style>
